body {
  background: #2e3035;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/*create calculator layout using grid in a container div
use vh and vw units for dynamic grid resizing*/

.calculatorApp {
  width: 95vw;
  height: 97vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-style: solid;
  border-color: #707272;
  border-width: 1.5px;
  border-radius: 8px;
  padding: 1%;
  margin: 1%;
}

/*reverse display direction with 'direction' and 'text align' properties*/

.display {
  color: #a8aaaa;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 2%;
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  text-align: right;
  direction: rtl;
  overflow: hidden;
}

#displayPrimary {
  box-sizing: border-box;
  font-size: 2.8rem;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 2.35rem;
  justify-content: flex-start;
  padding-bottom: 15%;
}

.button {
  padding: 0%;
  background: #9d9da3;
  display: inline-block;
  margin: 0.05em 0.05em;
  border: 0.16em solid #9d9da3;
  border-radius: 0.1em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: #2f2f33;
  text-align: center;
  transition: all 0.2s;
}

.button:active {
  transform: translateY(1px);
  background: #8c8c94;
  border-color: #8c8c94;
}

/* use grid 'start' and 'end' to adjust grid element dimensions */

#numButton0 {
  grid-column-start: 1;
  grid-column-end: 3;
}

/* assign properties to multiple id's at the same time */

#clearButton,
#backSpaceButton,
#plusMinusButton,
#divideButton {
  background: #a1938a;
  border: 0.16em solid #a1938a;
}

#clearButton:active,
#backSpaceButton:active,
#plusMinusButton:active {
  background: #887c74;
  border-color: #887c74;
}

#divideButton,
#multiplyButton,
#subtractButton,
#addButton,
#equalButton {
  background: #9d8181;
  border: 0.16em solid #9d8181;
}

#divideButton:active,
#multiplyButton:active,
#subtractButton:active,
#addButton:active,
#equalButton:active {
  background: #8b7070;
  border-color: #8b7070;
}

#backSpaceButton {
  font-size: 1.1rem;
  -webkit-font-size: 2rem;
}

#clearButton {
  font-size: 1.5rem;
}

/* adjust layout for different displays sizes with @media queries */

@media screen and (min-device-height: 740px) 
  and (max-device-width: 500px){
  .calculatorApp {
    height: 650px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  #displaySecondary {
    padding-top: 0%;
  }

  #displayPrimary {
    padding-bottom: 16%;
  }
}

@media screen and (min-device-height: 800px) 
  and (max-device-width: 500px){
  .calculatorApp {
    height: 660px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  #displaySecondary {
    padding-top: 0%;
  }

  #displayPrimary {
    padding-bottom: 16%;
 
  }
}

@media screen and (min-device-height: 900px)
  and (max-device-width: 500px) {
  .calculatorApp {
    height: 670px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  #displaySecondary {
    padding-top: 0%;
  } 

  #displayPrimary {
    padding-bottom: 16%;
  }
}

@media screen and (max-device-width: 320px) {
  #displaySecondary {
    padding-top: 21%;
  }

  #displayPrimary {
    padding-bottom: 21%;
  }
}

.footer {
  display: none;
}

/*fixed app size with additional web page elements for desktop browsers*/

@media screen and (min-device-width: 600px) {
  body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .calculatorApp {
    height: 445px;
    width: 275px;
    min-height: 445px;
    min-width: 275px;
    align-self: center;
    margin: auto;
    padding: 0.3%;
    margin-bottom: 7px;
  }

  #displaySecondary {
    padding-top: 0%;
  }

  #displayPrimary {
    padding-bottom: 0%;
    font-size: 2rem;
  }

  .button {
    font-size: 1.27rem;
  }

  /*responsive footer with variable length horizontal line*/

  .footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 30px;
  }

  .footer::after {
    background-color: #555758;
    content: '';
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
    width: 95%;
    margin-bottom: 28px;
  }

  #link {
    color: #9a9c9c;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.844rem;
    text-decoration: none;
  }
}
