/*use vh and vw units for dinamic grid resizing*/
body {
  background: #2e3035;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100vw;
}

/*create calculator layout using grid in a container div*/
.calculatorApp {
  background: #2e3035;
  width: 95%;
  height: 98vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-style: solid;
  border-color: #555758;
  border-width: 2px;
  border-radius: 8px;
  padding: 1%;
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}

/*reverse data display direction with 'direction' and 'text align' properties*/
.display {
  color: #9a9c9c;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 2%;
  grid-column-start: 1;
  grid-column-end: 5;
  display: inline-flex;
  flex-direction: column;
  vertical-align: middle;
  text-align: right;
  direction: rtl;
  overflow: hidden;
  white-space: nowrap;
}

#displaySecondary {
  font-size: 1rem;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-content: flex-end;
  margin-top: 4%;
}

#displayPrimary {
  font-size: 2.5rem;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-content: flex-start;
}

.button {
  padding: 0%;
  background: #d7dadc;
  display: inline-block;
  margin: 0.05em 0.05em;
  border: 0.16em solid #d7dadc;
  border-radius: 0.1em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  color: #2f2f33;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  text-align: center;
  transition: all 0.2s;
}

.button:active {
  transform: translateY(1px);
  background: #9a9c9c;
  border-color: #9a9c9c;
}

#numButton0 {
  grid-column-start: 1;
  grid-column-end: 3;
}

/*responsive footer with horizontal line*/
.footer {
  margin-top: auto;
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 3%;
}

.footer::after {
  background-color: #555758;
  content: '';
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  width: 95%;
  margin-bottom: 6%;
}

#link {
  color: #9a9c9c;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 0.7rem;
  text-decoration: none;
}

/*fixed app size for desktop browsers*/
/* @media screen and (min-device-width: 10cm) and (min-device-width: 10cm) {
  .calculatorApp {
    height: 500px;
    width: 300px;
    min-height: 500px;
    min-width: 300px;
    align-self: center;
    margin-bottom: 0.6%;
    margin-top: auto;
    border-style: solid;
    border-color: #555758;
    border-width: 1.5px;
    border-radius: 8px;
  }

  #displaySecondary {
    font-size: 1rem;
  }

  #displayPrimary {
    font-size: 2rem;
  }

  .button {
    font-size: 1.4rem;
    margin: 0 0.1em 0.1em 0;
  }

  .footer {
    height: 4.4%;
  }

  .footer::after {
    margin-bottom: 28px;
  }

  #link {
    font-size: 0.844rem;
  }
} */
